<div class="box">
	<h3>Ultimas noticias</h3>
	<div class="dateList">
		<ul class="linkedList dateList">
			<li class="first">
				<span class="date">Jul 23</span><a href="#">Ante sed fringilla</a>
			</li>
			<!-- Listagem das ultimas noticias -->

		</ul>
	</div>
</div>
<div class="box">
	<h3> Categorias </h3>
	<p>
		Lectus venenatis pharetra mauris nisl cum neque adipiscing. Turpis ridiculus leo scelerisque.
	</p>
	<ul class="linkedList">
		<li class="first">
			<a href="#">Luctus curae vitae</a>
		</li>
		<!-- Listagem de categorias -->

	</ul>
</div>
<div class="box">
	<h3> Blogs </h3>
	<ul class="linkedList">
		<li class="first">
			<a href="#">Luctus curae vitae</a>
		</li>
		<!-- Listagem de categorias -->

	</ul>
</div>

