<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unofficial Channels
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120723
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include "style.html" %}
		{% block style %}{% endblock %}
	</head>
	<body>
		<div id="bg1"></div>
		<div id="bg2"></div>
		<div id="outer">
			<div id="header">
      {% include "header.html" %} 
			</div>
			<div id="banner">
			   {% include "banner.html" %}
			</div>
			<div id="main">
				<div id="sidebar">
				   {% include "sidebar.html" %}
				</div>
				<div id="content">				  
				   {% block conteudo %}
				   {% endblock %} 
		      <br class="clear" />
				</div>
				<br class="clear" />
			</div>
		</div>
		<div id="copyright">
			{% include "footer.html" %}
		</div>
	</body>
</html>
